<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/header %>

    <div id="map"></div>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <% include ../partials/scripts %>
</body>

</html>
