<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <!-- Image and text -->
      <a class="navbar-brand" href="#">
        <!-- <img src="/images/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
        <img src="/images/brand/tk_logo_tran.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Sandfang
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">POIs</a> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#selectObjectModal">Nytt Objekt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/new">Nytt Objekt form</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- NEW OBJECT MODAL -->

    <div class="modal fade" id="selectObjectModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-body">
            <p class="text-center">Velg vilken type objekt du vill laga</p>
            <div class="container object">

              <!-- <div>
                <div class="btn" data-toggle="buttons">
                  <label class="btn btn-warning btn-rounded active col-4">
                    <input type="radio" checked autocomplete="off"> Sandfang <i class="fa fa-diamond ml-2"></i>
                  </label>
                    <label class="btn btn-danger btn-rounded col-4">
                      <input type="radio" autocomplete="off"> Bisluk <i class="fa fa-user ml-2"></i>
                   </label>
                   <label class="btn btn-info btn-rounded col-4">
                      <input type="radio" autocomplete="off"> Strindasluk <i class="fa fa-code ml-2"></i>
                   </label>
                </div>
              </div> -->

              <div>
                <form id="newPoiForm">
                  <div id="asset_type" class="btn" data-toggle="buttons">
                      <label class="btn btn-warning btn-rounded col-4">
                        <input type="radio" autocomplete="off" name="asset_type" value="sandfang"> Sandfang <i class="fa fa-diamond ml-2"></i>
                      </label>
                      <label class="btn btn-danger btn-rounded col-4">
                        <input type="radio" autocomplete="off" name="asset_type" value="bisluk"> Bisluk <i class="fa fa-user ml-2"></i>
                      </label>
                      <label class="btn btn-info btn-rounded col-4">
                        <input type="radio" autocomplete="off" name="asset_type" value="strindasluk"> Strindasluk <i class="fa fa-code ml-2"></i>
                      </label>
                      <!-- need value field!?? -->
                      <input type="hidden" class="form-control" id="x-coord" placeholder="X - Coord" name="xCoord">
                      <input type="hidden" class="form-control" id="y-coord" placeholder="y - Coord" name="yCoord">
                 </div>
               </form>
              </div>

            </div>
            <p>Trykk på nålen å panorere til position i kartet dær du vill lage et nytt objekt</p>
            <!-- Corshair bilde lenk for at komma till krysset her.. -->
            <!-- <span class="input-group-btn"> -->
            <div class="text-center">
              <button id="formPinButton" class="btn btn-default" type="button">
                <span class="fa fa-map-marker fa-5x" data-dismiss="modal" aria-hidden="true">
              </button>
            </div>
           <!-- </span> -->
          </div>

          <div class="modal-footer text-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Stæng</button>
          </div>
        </div>
      </div>
    </div>

    <!-- NEW OBJECT MODAL END -->

    <!-- ARE YOU SURE YOU WANT TO CREATE THIS POINT MODAL? -->

    <!-- source http://plnkr.co/edit/NePR0BQf3VmKtuMmhVR7?p=preview -->
    <!-- https://stackoverflow.com/questions/8982295/confirm-delete-modal-dialog-with-twitter-bootstrap -->
    <!-- Open when crosshair is pressed -->
    <div class="modal fade" role="dialog" id="confirm-object">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Bekreft lagring</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Er du sikker at du vil lage ett nytt <span class="objectToCreate"></span> på denne position?</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Avbrutt</button>
            <button type="button" class="btn btn-success" form="newPoiForm" id="lagreObject">Lagre</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ARE YOU SURE YOU WANT TO CREATE THIS POINT MODAL? END -->

    <!-- ASSET MODAL START -->
    <div class="modal" tabindex="-1" role="dialog" id="infoModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Objekt info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <nav class="nav nav-tabs">
              <a class="nav-item nav-link active" id="firstInfoModalTab" data-toggle="tab" href="#sandfang">Sandfang</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#sandfangTomming">Reg Tømming</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#sandfangLog">Log</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#sandfangSkade">Skade</a>
              <a class="nav-item nav-link" data-toggle="tab" href="#sandfangBilde">Bilde</a>
            </nav>

              <div class="tab-content py-3">
                <div class="tab-pane active" id="sandfang">
                  <div id="sandfangInfo">
                    <ul id="sandfangInfoList">
                      <li class="sandfangLi text-center featureType font-weight-bold"></li>
                      <li class="sandfangLi"><span class="text-left">Id: </span>
                        <span class="text-right featureId"></span> </li>
                      <li class="sandfangLi"><span class="text-left">Siste Tømmedato: </span>
                        <span class="text-right">Dato Her</span></li>
                      <li class="sandfangLi"><span class="text-left">Har Bisluk: </span>
                        <span class="text-right"></span></li>
                      <li class="sandfangLi"><span class="text-left">Reg Dato: </span>
                        <span class="text-right featureRegdate"></span></li>
                    </ul>
                    <div class="center-btn">
                      <button type="button" id="btnEditSandfangInfo" class="btn btn-primary">Editere</button>
                    </div>
                  </div>

                  <div id="editSandfangInfo">

                    <ul class="list-group list-group-sm ulList">
                      <li class="list-group-item text-center font-weight-bold"><h6>Registrere Info</h6></li>

                      <li class="list-group-item list-group-item-light">
                        <input type="checkbox" id="harBisluk" class="">
                        <label for="harBisluk">Har Bisluk</label>
                      </li>
                      <li class="list-group-item list-group-item-light">
                        <input type="checkbox" id="sandfangFjernet" class="">
                        <label for="sandfangFjernet">Fjernet</label>
                      </li>

                    </ul>

                    <div id="btn-group-sandfang">
                      <button type="button" class="btn btn-success">Lagre</button>
                      <button type="button" id="hideEditSandfangInfoForm" class="btn btn-danger">Avbryt</button>
                    </div>
                  </div>

                </div>

              <div class="tab-pane" id="sandfangTomming">
                <div id="editTomming">
                  <form id="registrerTommingForm">
                    <select name="fyllingsgrad" class="form-control form-control-lg">
                      <option selected disabled>Velg fyllnadsnivå ved Tømming</option>
                      <option value="1">1/3</option>
                      <option value="2">2/3</option>
                      <option value="3">Full</option>
                    </select>
                    <div class="center-btn">
                      <button type="submit" id="registrerTommingForm" class="btn btn-primary">Registrere Tømming</button>
                    </div>
                  </form>
                </div>
              </div>

              <div class="tab-pane" id=sandfangLog>
                <table class="table table-striped table-sm" id="sandfangLogTable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tømmedato</th>
                      <th scope="col">Fyllingsgrad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Data go here from server -->
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="sandfangSkade">
                <div class="container">

                  <div id="sandfangSkadeInfo">
                    <ul class="list-group skadeLog">
                      <li class="list-group-item active">Trykk <strong><i>Skade reparert</i></strong> etter du har utført nødvendig reparasjon på objektet for å fjerne det fra listen</li>
                      <!-- Database will fill in the rest -->
                    </ul>
                    <div class="center-btn">
                      <button type="button" id="btnEditSandfangSkade" class="btn btn-primary">Registrere Skade</button>
                    </div>
                  </div>

                  <div id="editSandfangSkade">
                    <form id="registrerSkadeForm">
                      <ul class="list-group list-group-sm ulList">
                        <li class="list-group-item text-center font-weight-bold"><h6>Registrere skade</h6></li>

                        <li class="list-group-item list-group-item-light">
                          <input type="checkbox" name="skade_type[]" id="feilLokk" value="feil_lokk" class="myCheckbox">
                          <label for="feilLokk">Feil lokk</label>
                        </li>
                        <li class="list-group-item list-group-item-light">
                          <input type="checkbox" name="skade_type[]" id="skadetLokk" value="skadet_lokk" class="myCheckbox">
                          <label for="skadetLokk">Skadet lokk</label>
                        </li>
                        <li class="list-group-item list-group-item-light">
                          <input type="checkbox" name="skade_type[]" id="manglendeDykkert" value="manglendeDykkert" class="myCheckbox">
                          <label for="manglendeDykkert">Manglende dykkert</label>
                        </li>
                        <li class="list-group-item list-group-item-light">
                          <input type="checkbox" name="skade_type[]" id="tettStikkledning" value="tett_stikkledning" class="myCheckbox">
                          <label for="tettStikkledning">Tett stikkledning</label>
                        </li>
                        <li class="list-group-item list-group-item-light">
                          <input type="checkbox" name="skade_type[]" id="tettUtlop" value="tett_utlopp" class="myCheckbox">
                          <label for="tettUtlop">Tett utløp</label>
                        </li>
                        <li class="list-group-item list-group-item-light">
                          <input type="checkbox" name="skade_type[]" id="skadetKumrug" value="skadet_kumrug" class="myCheckbox">
                          <label for="skadetKumrug">Skadet kumrung</label>
                        </li>
                      </ul>
                      <div id="btn-group-sandfang">
                        <button type="submit" form="registrerSkadeForm" class="btn btn-success">Lagre</button>
                        <button type="button" id="hideEditSandfangSkadeForm" class="btn btn-danger">Avbryt</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="sandfangBilde">
                <p>Bilde</p>
              </div>
            </div>


          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>
    <!-- ASSET MODAL END -->


    <div id="map"></div>

    <script type="text/javascript">
    var map = L.map('map').setView([63.429200, 10.394146], 14);
    var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // Click edit button to hide list and show form
    $("#btnEditSandfangInfo").click(function(e) {
      $('#sandfangInfo').hide();
      $('#editSandfangInfo').show();
    })

    // If avbrut if clicked go back to info list
    $('#hideEditSandfangInfoForm').click(function(e) {
      $('#sandfangInfo').show();
      $('#editSandfangInfo').hide();
    })

    // Click edit button to hide list and show form
    $('#btnEditSandfangSkade').click(function(e) {
      $('#sandfangSkadeInfo').hide();
      $('#editSandfangSkade').show();
    });

    // SKADE - If avbrut if clicked go back to info list
    $('#hideEditSandfangSkadeForm').click(function(e) {
      $('#sandfangSkadeInfo').show();
      $('#editSandfangSkade').hide();
    });

    function getColor(asset) {
      switch (asset) {
        case 'sandfang': return "#ff0000";
        case 'bisluk':   return "#0000ff";
        case 'strindasluk': return "#00ff00"
        default: return '#ffff00';
      }
    }

    var poi = new L.geoJson(null, {
      pointToLayer: function (feature, latlng) {
        return L.circleMarker(latlng, {
          radius: 10,
          fillOpacity: 0.5,
          color: getColor(feature.properties.asset_type)
        });
      },
      onEachFeature: function(feature, layer) {
        //layer.bindPopup(feature.properties.place);
        layer.bindTooltip(feature.properties.id+'', { sticky: true, direction: 'top' });
      }
	  });

    var tempIcon = L.icon({
      iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
      //iconUrl: 'https://png.pngtree.com/element_pic/17/04/18/c631b7cf64373bdb37049a3bb250dd9a.jpg',
      //shadowUrl: 'leaf-shadow.png',
      iconSize: [400, 250],
      iconSize: [25, 41],
      //iconAnchor: [200, 125],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
    });

    let tempMarker;
    let current_id;

    // get feature of layer to be used to fill modal!
    poi.on('click', function(e) {
      // Make ajax call to populate lists

      current_id = e.layer.feature.properties.id;

      // get tomming
      let url = '/api/pois/tomming/' + current_id;
      $.get({
        url: url
      })
      .done(function (data){
        let i = 0;
        var dager = ["Søndag","Mondag","Tirsdag","Onsdag","Torsdag","Fredag","Lørdag"];
        data.forEach (function(tomming) {
          let regdato = new Date(tomming.regdato);
          let date = dager[regdato.getDay()] + ' ' + regdato.getDate() + '.' + (regdato.getMonth() + 1) + '.' + regdato.getFullYear() + ' <strong>kl.</strong>' + regdato.getHours() + '.'  + (`0${regdato.getMinutes()}`).slice(-2);
          i += 1;
          $('#sandfangLogTable > tbody').append( '<tr><th scope="row">' + String(i) + '</th><td>' + date + '</td><td>' + tomming.fyllingsgrad + '</td></tr>');
        })
      })
      .fail(function (jqXHR, status, error) {
        console.log('Status: ' + status + '\n' + 'Error: ' + error);
      });

      let urlSkade = '/api/pois/skade/' + current_id;
      $.get({
        url: urlSkade
      })
      .done(function (data){
        data.forEach (function(skade) {
          $('.list-group.skadeLog').append('<li class="list-group-item list-group-item-action">' + skade.skade_type +'<button type="button" class="btn btn-danger btn-sm float-right">Skade reparert</button></li>');
        })
      })
      .fail(function (jqXHR, status, error) {
        console.log('Status: ' + status + '\n' + 'Error: ' + error);
      });

      $(".featureType").text('');
      $(".featureId").text('');
      $(".featurePlace").text('');
      $(".featureRegdate").text('');
      $(".featureType").append(e.layer.feature.properties.asset_type);

      $(".featureId").append(current_id);
      $(".featurePlace").append(e.layer.feature.properties.place);
      let regdato = new Date(e.layer.feature.properties.regdate);
      $(".featureRegdate").append(regdato.getDate() + '.' + (regdato.getMonth() + 1) + '.' + regdato.getFullYear());
      $("#infoModal").modal();
      objectType = e.layer.feature.properties.asset_type;
    });

    poi.addTo(map);

    // add all pois
    $.get({
      //dataType: 'json',
      url: '/api/pois/'
    })
    .done(function (data) {
      $(data.features).each(function (key, data) {
          poi.addData(data);
        });
    })
    .fail(function (jqXHR, status, error) {
      console.log('Status: ' + status + '\n' + 'Error: ' + error);
    });


    // WORKING!!
    // save new object based on object type
    $('#newPoiForm').submit(function(e) { // handle the submit event
      e.preventDefault();
      let formData = $(this).serialize();
      console.log(formData);

      $.post({
        type: 'POST',
        url: '/api/pois/',
        data: formData
      })
      .done(function (data) {
        // $("#newPoiForm").trigger("reset");
        map.removeLayer(crosshair);
        console.log('submitted');

      })
      .fail(function (xhr) {
        console.log('something went wrong', xhr);
        //console.log(data);
      })
      .then(function (data) {
        $.get({
          url: '/api/pois/last'
        })
        .done(function (data, jqxhr) {
          $(data.features).each(function (key, data) {
            // add last to poi
              console.log(status);
              console.log(jqxhr);
              console.log('last point added, hurrah!');
              poi.addData(data);
          })
        })
        .fail(function(xhr){
          console.log('error callback add last point', xhr);
        });
      });
    });

    $('#registrerSkadeForm').submit(function(e){
      e.preventDefault();
      let toBeSent = [];
      let formData = $(this).serializeArray();
      let selectedIds = $("input:checkbox:checked").map(function () {
        return $(this).val();
      }).get();

      console.log(selectedIds);
      selectedIds.forEach(function(selected){
        toBeSent = [];
        toAppend = [];
        console.log(selected);
        ref = {name: 'poi_id', value: current_id};
        skade = {name: 'skade_type', value: selected};
        toBeSent.push(ref);
        toBeSent.push(skade);
        $.post({
          type: 'POST',
          url: '/api/pois/skade',
          data: toBeSent
        }).
        done(function(skade){
          selectedIds.forEach(function(selectedSkade){
            $('.list-group.skadeLog').append('<li class="list-group-item list-group-item-action">' + selectedSkade +'<button type="button" class="btn btn-danger btn-sm float-right">Skade reparert</button></li>');
          });
        });
      // if sandfangSkadeInfo has content then nothing, but what when they dont have a record? Ignore?

      // this might all be able to go inside the then or done state
      // clear skade form
      //$('#registrerSkadeForm').trigger("reset");
      // hide reg skade form
      $('#editSandfangSkade').hide();
      $('#sandfangSkadeInfo').show();
      // get all skader
      });
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      if ($(e.target).attr('href') == '#sandfangSkade') {
        // let url = '/api/pois/skade/' + current_id;
        // $.get({
        //   url: url
        // })
        // .done(function (data){
        //   data.forEach (function(skade) {
        //     $('.list-group.skadeLog').append('<li class="list-group-item list-group-item-action">' + skade.skade_type +'<button type="button" class="btn btn-danger btn-sm float-right">Skade reparert</button></li>');
        //   })
        // })
        // .fail(function (jqXHR, status, error) {
        //   console.log('Status: ' + status + '\n' + 'Error: ' + error);
        // });

      };
    });

    $('#registrerTommingForm').submit(function(e) {
      e.preventDefault();
      let formData = $(this).serializeArray();
      formData.push({name: 'poi_id', value: current_id});
      console.log(formData);
      // does not work, need to append the id that was clicked somehow!?
      //console.log(e.layer.feature.properties.id);
      let fyllingsgrad = formData[0].value;
      console.log(fyllingsgrad);

      $.post({
        type: 'POST',
        url: '/api/pois/tomming',
        data: formData
      })
      .done(function () {
        // reset formData
        $('#registrerTommingForm').trigger("reset");
        // add new tomming to list

        // find how many rows table has
        let rows= $('#sandfangLogTable tr').length;
        //$('#myTable tr').size()
        console.log(rows);
        // fill in regdato (this can be refactored)
        var dager = ["Søndag","Mondag","Tirsdag","Onsdag","Torsdag","Fredag","Lørdag"];
        let regdato = new Date();
        let date = dager[regdato.getDay()] + ' ' + regdato.getDate() + '.' + (regdato.getMonth() + 1) + '.' + regdato.getFullYear() + ' <strong>kl.</strong>' + regdato.getHours() + '.'  + (`0${regdato.getMinutes()}`).slice(-2);
        // get tomming value that was selected
        $('#sandfangLogTable > tbody').append( '<tr><th scope="row">' + String(rows) + '</th><td>' + date + '</td><td>' + fyllingsgrad + '</td></tr>');
      })
    });

    // $('#infoModal > a.nav-item.nav-link.active').click(function(e) {
    //   alert('clicked');
    // });

    // $('a.nav-item:first').click(function() {
    //   alert("click!");
    // });

    // when infoModal close do actions
    $('#infoModal').on('hidden.bs.modal', function () {
      // Make first tab active in modal
      $('#sandfangLogTable > tbody > tr:nth-child(n+1)').remove(); // clear Tømming log table
      $('a.nav-item').removeClass('active');
      $('a.nav-item:first').addClass('active');
      // Clear Skade table
      $('.list-group.skadeLog > li:nth-child(n+2)').remove();
      // Make first tab pane active in Modal
      $('.tab-pane').removeClass('active');
      $('#sandfang.tab-pane').addClass('active');
    });

    // click lagre object
    $('#lagreObject').click(function() {
      $('#confirm-object').modal('hide');
      $('#newPoiForm').submit(); // trigger the submit event
      console.log("clicked");
      // remove poi

    })

    // remove tempMarker when selectObject modal close
    $('#confirm-object').on('hide.bs.modal', function (e) {
      if (tempMarker != undefined) {
        map.removeLayer(tempMarker);
      };
    });

    // Add Easy button to Canvas
    let getCoortdinatesButton = L.easyButton('fa-crosshairs fa-lg', function(btn, map) {
      $("input#y-coord").val(map.getCenter().lat.toString());
      $("input#x-coord").val(map.getCenter().lng.toString());

      let lat = map.getCenter().lat;
      let long = map.getCenter().lng;

      // if (tempMarker != undefined) {
      //         map.removeLayer(tempMarker);
      //   };

      // add the temp marker
      tempMarker = L.marker([lat,long], {icon: tempIcon}).addTo(map);

      $("#confirm-object").modal();
      $(".objectToCreate").text('');
      selectedobject = $("input[name='asset_type']:checked").val();
      // append object name to create to modal
      $( ".objectToCreate" ).append( selectedobject );
      getCoortdinatesButton.disable();
    }).disable().addTo(map);

    //
    $('#formPinButton').click(function() {
      crosshair.addTo(map);
      getCoortdinatesButton.enable();
    });

    $('#confirm-object').on('hidden.bs.modal', function () {
      map.removeLayer(crosshair);
      // do something…
    });

    // Add in a crosshair for the map
    let crosshairIcon = L.icon({
        iconUrl: '/images/crosshair.png',
        className: 'crosshairIcon',
        iconSize:     [100, 100], // size of the icon
        iconAnchor:   [50, 50], // point of the icon which will correspond to marker's location
    });
    crosshair = new L.marker(map.getCenter(), {
      icon: crosshairIcon,
      clickable:false
    });

    // Move the crosshair to the center of the map when the user pans
    map.on('move', function(e) {
        crosshair.setLatLng(map.getCenter());
    });

    // TODO When Lagre is clicked make ajax post request with hidden field values based on object selected
    // make this to a function that run after the pin is clicked and that will also fill in the ajax form....

    </script>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <!-- <% include ../partials/scripts %> -->
</body>

</html>
